@import '../../styles/shared.scss';

.button {
  display: block;
  width: 44px;
  // height: 45px;

  border: 0;
  background-color: white;

  &:hover,
  :focus {
    background-color: $green_hover_background;
  }

  &__search_repos {
    &:hover,
    :focus {
      fill: $red;
      transition: $timing-function;
    }
  }

  &__search_user {
    &:hover,
    :focus {
      fill: $green_hover;
      transition: $timing-function;
    }
  }
}
