@import '../../styles/shared.scss';

.button {
  display: block;
  width: 44px;
  height: 44px;
  background-color: $blue;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;

  &__Default {
    @extend .button;
    background-image: url(../../images/icon.png);
  }

  &__User {
    @extend .button;
    background-image: url(../../images/search.png);
  }

  &:hover,
  :focus {
    background-color: $green_hover_background;
    transition: $timing-function;
  }
}
