$body_background: rgba(250, 240, 230, 0.5);
$gradient_first: rgb(218, 226, 248);
$gradient_second: rgb(214, 164, 164);
$black: #2a363b;
$blue: rgb(139, 230, 255);
$grey_disabled: rgba(250, 240, 230, 0.2);
$grey_text: rgba(145, 145, 145, 0.3);
$grey_enabled: rgba(145, 145, 145, 1);
$green: rgb(0, 143, 43);
$green_hover: rgba(0, 143, 43, 0.6);
$green_hover_background: rgba(0, 143, 43, 0.2);
$red: crimson;
$red_hover: rgba(220, 20, 60, 0.3);
$white: white;
