$body_background: rgba(250, 240, 230, 0.5);
$black: #2a363b;
$grey_disabled: rgba(250, 240, 230, 0.2);
$grey_text: rgba(145, 145, 145, 0.3);
$grey_enabled: rgba(145, 145, 145, 1);
$green_hover: rgba(0, 150, 100, 1);
$green_hover_background: rgba(0, 150, 100, 0.2);
$red: crimson;
$red_hover: rgba(252, 152, 152, 0.3);
