@import './shared.scss';

body {
  min-height: 100vh;
  margin: 0;
  // background-color: $body_background;
  background: linear-gradient(to bottom, $gradient_first, $gradient_second)
    no-repeat;
  color: $black;
  line-height: 1.5;
  font-family: $primary-font-stack;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
