@import '../../styles/shared.scss';

.usersItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: $green_hover_background;
  }

  // &__tumb {
  // }

  &__img {
    display: none;

    @media screen and (min-width: 370px) and (max-width: 767px) {
      display: block;
      width: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      display: block;
      width: 80px;
    }

    @media screen and (min-width: 1024px) {
      display: block;
      width: 120px;
    }

    object-fit: contain;
    object-position: top;
  }

  &__login,
  &__repos {
    padding: 10px;

    font-size: 20px;
    font-weight: 400;
  }
}
