@font-face {
  font-family: 'Courgette-Regular';
  src: local('Courgette-Regular'),
    url('./Courgette-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico-Regular';
  src: local('Pacifico-Regular'),
    url('./Pacifico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
