@import '../../styles/shared.scss';

.navi {
  display: flex;
  align-items: center;

  margin: 0 auto;
  max-width: 720px;

  &__logo {
    height: 50px;
    width: 50px;
  }

  &__searchTitle {
    margin: 0 auto;
    font-family: $title-font-stack;
    font-weight: 400;
    font-size: 40px;
  }
}
