@import '../../styles/shared.scss';

.navi {
  display: flex;
  align-items: center;

  margin: 0 auto;
  padding: 0 20px;
  max-width: 1170px;
}

// .logo {
// }

.button {
  margin-right: 20px;
  padding-bottom: 19px;
  padding-top: 19px;

  color: whitesmoke;

  font-size: 20px;
  font-weight: 500;

  &:hover,
  :focus {
    color: rgb(144, 206, 161);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.buttonActive {
  color: rgb(1, 180, 228);
}

.searchTitle {
  margin: 0 auto;
  font-family: $title-font-stack;
  font-weight: 200;
  font-size: 40px;
}
