@import '../../styles/shared.scss';

.navi {
  display: flex;
  align-items: center;

  margin: 0 auto;
  padding: 0px 20px;
  max-width: 1080px;

  &__logo {
    fill: $green;

    &:hover,
    :focus {
      background-color: $green_hover_background;
      fill: $green_hover;
      transition: $timing-function;
    }
  }

  &__searchTitle {
    margin: 0 auto;
    font-family: $title-font-stack;
    font-weight: 400;
    font-size: 40px;
  }
}
