// .title {
//   margin: 0 auto;
//   padding-left: 95px;
//   padding-bottom: 10px;
// }

.list {
  //   display: flex;
  //   flex-wrap: wrap;
  text-align: center;
  //   margin-left: -20px;
  //   margin-top: -20px;
  //   padding: 20px 0;
}

.item {
  flex-basis: calc(100% / 2 - 20px);
  margin-left: 10px;
  margin-top: 20px;

  color: rgb(13, 37, 63);

  opacity: 1;

  transition: transform 250ms ease-in-out;

  &:hover,
  &:focus {
    // color: rgb(144, 206, 161);
    color: rgb(1, 180, 228);
    font-weight: 600;

    opacity: 0.9;

    transform: scale(1.02);
  }

  @media screen and (min-width: 768px) and (max-width: 1169px) {
    flex-basis: calc(100% / 3 - 20px);
  }

  @media screen and (min-width: 1170px) {
    flex-basis: calc(100% / 4 - 20px);
  }
}

.link {
  color: inherit;
  //   text-decoration: none;
}
