.repos {
  &__list {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0px;
  }

  &__item {
    border-radius: 8px;
    box-shadow: 1px 5px 10px 0px rgb(34 60 80 / 49%);
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
