@import '../../styles/shared.scss';

.repositories {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;

  color: $black;
  background-color: $blue;

  &:hover {
    color: $red;
    background-color: $red_hover;
    transition: $timing-function;

    font-weight: 500;
  }

  &__name {
    padding: 14px 0;
    font-size: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      padding-bottom: 5px;
    }
  }
}
