@import '../../styles/shared.scss';

.repositories {
  display: flex;
  justify-content: space-between;

  padding: 0 10px;

  color: $black;

  &:hover {
    color: $red;
    background-color: $red_hover;

    font-weight: 500;
  }

  &__name {
    padding: 14px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    &:not(:last-child) {
      padding-bottom: 5px;
    }
  }
}
